/*
 * CredofasterPartnerApi.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using CredofasterPartnerApi.Standard;
using CredofasterPartnerApi.Standard.Utilities;
using CredofasterPartnerApi.Standard.Http.Request;
using CredofasterPartnerApi.Standard.Http.Response;
using CredofasterPartnerApi.Standard.Http.Client;
using CredofasterPartnerApi.Standard.Exceptions;

namespace CredofasterPartnerApi.Standard.Controllers
{
    public partial class MainController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static MainController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static MainController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new MainController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Request Airtime Purchase
        /// </summary>
        /// <param name="request">Required parameter: Example: </param>
        /// <return>Returns the List<Models.PartnerAirtimeResponse> response from the API call</return>
        public List<Models.PartnerAirtimeResponse> AirtimeRequest(Models.PartnerAirtimeRequest request)
        {
            Task<List<Models.PartnerAirtimeResponse>> t = AirtimeRequestAsync(request);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Request Airtime Purchase
        /// </summary>
        /// <param name="request">Required parameter: Example: </param>
        /// <return>Returns the List<Models.PartnerAirtimeResponse> response from the API call</return>
        public async Task<List<Models.PartnerAirtimeResponse>> AirtimeRequestAsync(Models.PartnerAirtimeRequest request)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI(Configuration.Servers.ENUM_DEFAULT);

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/airtime/request");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" }
            };
            _headers.Add("ApiKey", Configuration.ApiKey);
            _headers.Add("ClientId", Configuration.ClientId);

            //append body params
            var _body = APIHelper.JsonSerialize(request);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<List<Models.PartnerAirtimeResponse>>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Gets the current Working Balance. 
        /// Balance is SIGNED
        /// </summary>
        /// <return>Returns the Models.PartnerAirtimeBalanceResponse response from the API call</return>
        public Models.PartnerAirtimeBalanceResponse AirtimeBalance()
        {
            Task<Models.PartnerAirtimeBalanceResponse> t = AirtimeBalanceAsync();
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Gets the current Working Balance. 
        /// Balance is SIGNED
        /// </summary>
        /// <return>Returns the Models.PartnerAirtimeBalanceResponse response from the API call</return>
        public async Task<Models.PartnerAirtimeBalanceResponse> AirtimeBalanceAsync()
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI(Configuration.Servers.ENUM_DEFAULT);

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/airtime/balance");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };
            _headers.Add("ApiKey", Configuration.ApiKey);
            _headers.Add("ClientId", Configuration.ClientId);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, null);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.PartnerAirtimeBalanceResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 